<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=a92f9773-8889-483e-bd96-a4b1001cdbb3.sqlserver.sequelizer.com;Database=dba92f97738889483ebd96a4b1001cdbb3;Initial Catalog=dba92f97738889483ebd96a4b1001cdbb3;Persist Security Info=True;User ID=iqevqzvbcdemorpp;Password=RXEJpAxEevrrWXeEZ2EyJ5imk3H3vgBugkdpubR2oMVqMHpqeNKNjmcUNsxvZCj7; Pooling=true; Min Pool Size=20;Max Pool Size=500; Connection Timeout=30" providerName="System.Data.SqlClient"/>
 </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      
    </system.web>

</configuration>
